@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400);

/* GENERAL STYLES */
.favicon {
  font-family: 'Oleo Script Swash Caps';
  font-size: 12px;
  background-color: #E3631E;
  color: white;
  padding-left: 20px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #3B240D
}

.container {
  width: 900px;
  position: relative;
  margin: auto;
}

/* HEADER ELEMENTS */
header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 170px;
  background-color: #F5EADC;
}

.logo {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: #E3631E;
  text-align: center;
  font-size: 6em;
}

small {
  font-family: Helvetica;
  font-style: italic;
  font-size: 1.5em;
  color: #822E00;
  position: absolute;
  right: 270px;
  top: 100px;
}

/* FOOTER ELEMENTS */
.contact {
  position: absolute;
  right: 333px;
  top: 50px;
}

.icons a {
  display: inline-block;
  margin: 0px 30px;
  font-family: 'FontAwesome';
  color: #996d43;
  text-decoration: none;
}

.icons a:hover {
  color: #AAE6F0;
}

.icons i {
  font-style: normal;
}

/* KEYBOARD */
.keyboardWorld {
  position: relative;
  left: 0;
  right: 0;
  height: 300px;
  background-color: #A3540F;
}

.keyboard {
  position: relative;
  top: 25px;
  width: 840px;
  height: 250px;
  margin: auto;
}

.key {
  float: left;
  text-align: center;
  height: 250px;
  width: 80px;
  background-color: white;
  margin: 0px 2px;
  border-radius: 0px 0px 5px 5px;
}

span {
  position: relative;
  font-family: Helvetica;
  font-weight: 300;
  font-size: 1.2em;
}

.key span {
  top: 200px;
}

.black {
  position: absolute;
  height: 160px;
  background-color: black;
  width: 60px;
}

.black span {
  top: 120px;
  color: white;
  font-weight: 200;
}

.As {
  left: 52px;
}

.Cs {
  left: 220px;
}

.Ds {
  left: 304px;
}

.Fs {
  left: 472px;
}

.Gs {
  left: 556px;
}

.uAs {
  left: 640px;
}

.pressed {
  background-color: #AAE6F0;
}